{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Contact us</title>
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <link rel="shortcut icon" type="image/png" href="{% static 'image/small-logo.svg'%}">
</head>

<body>

<div class="menu">
    <a href="/">
    <img alt="logo" id="header-img" src="{% static 'image/logo.svg' %}" width="200"> </a>
    <div class="topnav">
    <a href="/">Home</a>
    <a href="/about-us">About Us</a>
    <a class="active" href="/contact">Contact</a>
    {% comment %} <a href="/login">Login</a>
    <a href="/signup">Sign Up</a> {% endcomment %}
    </div>
</div>



<div class="login">
        <div class="row2">
            <div class="column3">
                <tr>
                    <th>
                        <h1 class="login-word"><br>Contact Us</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.11107171152!2d101.59878551379072!3d3.06497015452146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4eb079376a33%3A0xd9226112d1ae5b9d!2sMonash%20University%20Malaysia!5e0!3m2!1sen!2sid!4v1630378585356!5m2!1sen!2sid" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  
                    </th>
                </tr>
            </div><br><br>
             <div class="column3"style="margin-left:50px;">
                 <br><br><br>
                <table>
                    <tr>
                        <th>
                            <h2> <br>FIT3164 Group 6 at<br> Monash University Malaysia<br><br></h2>
                            <p> Address:</p>
                            <p>Jalan Lagoon Seleton, Bandor Sunway, 47500 Subang Jaya,<br> Selangor, Malaysia<br><br></p>
                            <p>Phone:</p>
                            <p>(+62)85771112049 /(+60)104246264<br><br></p>
                            <p>Email:</p>
                            <p>akus0005@student.monash.edu<br><br></p>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>    

</body>
</html>