{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <link rel="shortcut icon" type="image/png" href="{% static 'image/small-logo.svg'%}">
</head>

<body>

<div class="menu">
    <a href="/">
    <img alt="logo" id="header-img" src="{% static 'image/logo.svg' %}" width="200"> </a>
    <div class="topnav">
    <a href="/">Home</a>
    <a href="/about-us">About Us</a>
    <a href="/contact">Contact</a>
    {% comment %} <a href="/login">Login</a>
    <a href="/signup">Sign Up</a> {% endcomment %}
    </div>
</div>

<!-- Opening words -->
<div class="search-word">
    <span> <br><br> </span>
    <span> Privacy Policy </span>
</div>
<div class="search-keyword">
    <br>
    <span> Last updated: September 9 2021 </span>
    <br><br><span> - </span>
    <span> <br><br></span>
    <small>Realevancy ("us", "we", or "our") operates http://127.0.0.1:8000 (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
    We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</small> <br><br>
    <small><b> Information Collection And Use </b></small> <br><br>
    <small> While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</small><br><br>
    <small><b> Log Data </b></small> <br><br>
    <small> Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics</small><br><br>
    <small><b> Communications </b></small> <br><br>
    <small> We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information.</small><br><br>
    <small><b> Cookies </b></small> <br><br>
    <small> Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive. Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</small><br><br>
    <small><b> Security </b></small> <br><br>
    <small> The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</small><br><br>
    <small><b> Changes To This Privacy Policy </b></small> <br><br>
    <small> This Privacy Policy is effective as of May 3rd 2021 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
    <br><br>
    We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.
    <br><br>
    If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</small><br><br>
    <small><b> Contact Us </b></small> <br><br>
    <small> If you have any questions about this Privacy Policy, please contact us.</small><br><br>
</div>

<div class='result'>
    <div class='info-text'>
        <p> 
        <br><br><a href="/privacy">PRIVACY</a> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
        <a href="/contact">CONTACT US</a> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
        <a href="/about-us">ABOUT US</a>
        <br><br><br> Copyright &copy; 2021 Realevancy Inc. All Rights Reserved.
        <br> A final year project for FIT3164 Monash University Malaysia
        <br> &emsp; &emsp; &emsp; &emsp; &emsp;
        </p>

    </div>
    </div>

</body>

</html>